@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.7em;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
    background-color: #70b2d9;

}
   
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top ,#39e5b7be, #70b2d9);
    border-radius: 1rem;

}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: gainsboro;
    color: #333;
    overflow-x: hidden;
}
.HeaderTitle{
  font-family: "Zen Kurenaido",sans-serif;
  font-weight: bold;
  font-size: 90px;
}
.v-header{
    height: 100vh;
    background-color: #3E676A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.box{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap{
    background-color: #3E676A;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
    /* object-fit: cover; */
    /* transform-origin: (50%,50%); */
    
}
.header-overlay{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #12364be3;
    opacity: 0.5;
    z-index: 1;
}
.header-content{
    z-index: 2;
}
.nav-items{
    margin-bottom: 20px;
}
.nav-items a{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight:500;
}
.nav-items a:hover{
    color: #39e5b7be;
    transition: 0.2s ease;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn{
    background-color: #39e5b7be;
    padding: 0.4rem;
    border-radius: 10px;
    transition: 0.3s ease;
    border: #39e5b7be solid 3px;
}
.btn:hover{
    background-color: transparent;
    color: #39e5b7be;
    border: solid #39e5b7be 3px;
}
.tagline{
    font-family: "Sintony",sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}
.tagline span{
    background: -webkit-linear-gradient(#39e5b7be, #70b2d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-shadow: 0 0 50px #39e5b7be;
}
.info{
    display: flex;
}
.informationBox{
    border: solid #39e5b7be;
    border-radius: 8px;
    margin: 5px;
    padding: 0.5rem;
}
.heading{
    font-size:larger;
    font-weight: 600;
    padding: 0.2rem;
}
.infodesc{
    color: rgb(239, 239, 245);
}



/*SECOND_PAGE*/

/* .secpage {
  color: azure;
} */
.secpage img {
  margin-top: 100px;
  border-radius: 16px;
  position: absolute;
  margin-left: 50%;
}

.secpage-content {
  padding-bottom: 300px;
}
.secpage-content h1 {
  position: relative;
  font-size: 50px;
  margin-left: 35%;
  color: #002486;
  margin-bottom: 6px;
  font-weight: 600;
}
.secpage p {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 40px;
  font-size: 32px;
  color: rgb(6, 87, 87);
  margin-right: 50%;
  position: absolute;
}
.secpage a {
  font-size: 30px;
  margin-left: 50%;
  margin-top: 150px;
  position: absolute;
  transform: translate(-50%);
  text-decoration: none;
  border-radius: 8px;
  padding: 15px 70px;
  text-align: center;
  background: linear-gradient(to right ,#39e5b7be, #70b2d9);  
  color: white;
}

.secpage a:hover,
a:active {
  
  color: #002486;
  background-color: rgb(64, 246, 246);
}




/* BUBBLES */
.health-issues{
    /* background-color: lavender; */
    background-color: rgba(226, 226, 226, 0.883);

    margin: 0;
    padding-bottom: 20px;
}
.issues-title{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    padding: 1.2rem;
}

.bubbles-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
a:active,a:focus{
  text-decoration: none;
  color: 0;
  background-color: transparent;
}

.bubble{
    display: inline-block;
    width: 200px;
    color: black;
    height: 100%;
    margin: 30px 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    background: radial-gradient(circle at 50% 55%,rgba(240, 255, 255, 0.8),rgba(112,2178,217,0.3)40%,rgba(57,229,182,0.6)60%,rgba(57,229,182,0.23));
    box-shadow: 0 0 20px rgba(57,229,182,0.6), 0 0 2px rgba(57,229,182,0.23);
    transition: all 0.3s ease-in;
    -webkit-tap-highlight-color: transparent;
}
.bubble:hover{
    transform: rotate(10deg) scale(1.25);
}

.bubble::before{
    content: "";
    display: inline-block;
    padding-top: 100%;
}
.bubble::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    display: block;
    background: radial-gradient(circle at 50% 80%,rgba(255,255,255,0),rgba(255,255,255,0)74%,white 80%,white 84%,rgba(255,255,255,0) 100%);
}
.bubble-content{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bubble-content h1{
    text-transform:capitalize;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

@keyframes pop{
    0%{
        opacity: 1;
        transform: translateZ(0)scale(1,1);
    }
    50%{
        opacity: 0;
        transform: translateZ(0)scale(1.75,1.75);
    }
    100%{
        opacity: 1;
        transform: translateZ(0)scale(1.0,1.0);
    }
}

.bubble.pop{
    animation: pop 0.5s cubic-bezier(0.16,0.87,0.48,0.99)forwards;
}

/*----------------------------team-------------------------------------*/


.team-heading {
  text-align: center;
  margin: auto;
  max-width: 50vh;
  color: #70b2d9;
  font-size: 67px;
  font-family: "gills sans";
  font-weight: 1000;
  letter-spacing: 2px;
  padding-bottom: 48px;
}

#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}

.team {
  width: 320px;
  height: 480px;
  overflow: hidden;
  margin: 8px;
  border-radius: 16px;
  position: relative;
  background-color: #ffffff34;
}

.team img {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 480px;
  border-radius: 16px;
  z-index: 1;
  object-fit: cover;
  border: none;
}

.team:hover img {
  width: 160px;
  height: 240px;
  border: 4px double #70b2d9;
  left: 80px;
  top: 100px;
  transition: 0.3s ease-in;
}

.team .info {
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 0;
  color: #363636;
  padding: 18px;
  border-top: 18px double #70b2d9;
  border-radius: 50% 50% 0px 0px;
  padding-top: 80px;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

.team .name {
  font-size: 36px;
  padding-top: 20px;
  text-align: center;
}

/*------------------------join us--------------------------------*/

#join-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: rgba(226, 226, 226, 0.883);

}

.join-form {
  margin: 50px auto;
  text-align: center;
}

.join-form h1 {
  font-family: "Gill Sans";
  font-size: 67px;
  color: #70b2d9;
  margin-top: 0;
  text-align: center;
}

p {
  font-size: larger;
  text-align: center;
  color: #70b2d9;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.the-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  color: #70b2d9;
}

input {
  padding-bottom: 5px;
  border-radius: 6px;
  height: 2em;
  border-color: black;
  border-width: 2px;
}

.button {
  margin-top: 15px;
  text-align: center;
}

#submit:hover {
  cursor:pointer;
  color: #12364be3;
}

button {
  background-color: white;
}

#msg {
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  max-width: fit-content;
  min-width: max-content;
}
.organisation {
  text-align: left;
  margin-bottom: 3px;
}

.individual {
  text-align: left;
  margin-bottom: 10px;
}
