@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("/assests/Images/circle.svg");
  backdrop-filter: blur(9px) brightness(70%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
body::-webkit-scrollbar {
  width: 0.7em;
}
a:focus,a:active{
  text-decoration: none;
}
a:visited { 
  text-decoration: none; 
  color: #9650ff; 
 }
body::-webkit-scrollbar-track {
  background-color: #140319;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #6600ff, #19004c);
  border-radius: 1rem;
}
.title {
  padding: 1rem;
}
.title h1 {
  color: rgba(255, 255, 255, 0.849);
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}
.question {
  font-size: 40px;
  margin-bottom: 15px;
}
.question span {
  color: #44f7c7ef;
  font-weight: bold;
}

.content,
.symptoms,
.causes,
.cure,.ngo {
  padding: 1.25rem;
}
.content-body {
  display: flex;
}
.paragraphs {
  font-size: 16.5px;
  padding: 0.8rem;
  padding-top: 0;
}
.content-text {
  padding: 1rem;
}
.content-body img {
  border-radius: 10px;
  max-width: 650px;
  object-fit: cover;
}
.symptoms,
.causes,
.cure,
.ngo {
  margin: 1rem;
  border: 3px solid #44f7c7ef;
  border-radius: 14px;
}
.borderline {
  padding-bottom: 10px;
  border-bottom: solid #44f7c7ef 3px;
}
.ngo-list li span{
  color: #44f7c7ef;
}
